<div class="site-section bg-light" id="section-contact">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">{{ fields.title }}</h2>
                <p class="color-black-opacity-5">{{ fields.subtitle }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mb-5">

                <form id="contact_form" method="post" class="p-5 bg-white">
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="cf_fname">First Name</label>
                            <input type="text" id="cf_fname" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="cf_lname">Last Name</label>
                            <input type="text" id="cf_lname" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="cf_email">Email</label> 
                            <input type="email" id="cf_email" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="cf_subject">Subject</label> 
                            <input type="subject" id="cf_subject" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="cf_message">Message</label> 
                            <textarea name="message" id="cf_message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div id="cf_alert" class="alert alert-warning" role="alert" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="hidden" value="{{ fields.email }}" id="cf_email_to" />
                            <input type="submit" value="Send Message" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>
                </form>
                <script src="{{ theme.link }}/scripts/contact-form.js"></script>

            </div>
            <div class="col-md-5">

                <div class="p-4 mb-3 bg-white">
                    {% if fields.address %}
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">{{ fields.address }}</p>
                    {% endif %}

                    {% if fields.phone %}
                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4"><a href="#">{{ fields.phone }}</a></p>
                    {% endif %}
                    
                    {% if fields.email %}
                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#">{{ fields.email }}</a></p>
                    {% endif %}
                </div>
                {% if fields.more_info %}
                <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">More Info</h3>
                    <p>{{ fields.more_info }}</p>
                    <p><a href="{{ fields.more_info_button_url }}" class="btn btn-primary px-4 py-2 text-white">{{ fields.more_info_button_label}}</a></p>
                </div>
                {% endif %}

            </div>
       
        </div>
    </div>
</div>